<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yelp Camp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Yelp Camp</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav navbar-right nav">
            <li><a href="/">Login</a></li>
            <li><a href="/">Signup</a></li>
            <li><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
