<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>This is the campgrounds page.</h1>
      <p>View our handpicked campgrounds from all around the world!</p>
      <p>
        <a href="/index/new" class="btn btn-lg btn-primary">Add New Campground</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display: flex;  flex-wrap: wrap;">
  <% campgrounds.forEach(function(campground) { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail" style="display: inline-block;">
        <img src="<%= campground.image %>">
        <div class="caption">
          <h4><%= campground.name %></h4>
        </div>
        <p>
          <a href="/index/<%= campground._id %>" class="btn btn-primary">More info</a>
        </p>
      </div>
    </div>
  <% }); %>

  </div>
</div>




<% include ../partials/footer %>
